body {
    
    padding-left: 30px;
    padding-right: 30px;
    color: #110600;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.flex-container {
    flex-wrap: wrap; /* Remove? */
    align-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
  
.wrap { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: space-between;
}

.container {
    flex-wrap: wrap; /* Remove? */
    align-content: space-between;
    justify-content: flex-start;
    padding: 0;
    margin-top: 20px;
}

.flex-item {
    background: rgb(248, 245, 245);
    width: 300pt;
    height: 300pt;
    margin: 10px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

section {
    display: block;
    width: 75%;
    padding: 10px;
    margin: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.me {
    max-width: 150pt;
    padding: 15pt;
}

.about {
    padding-top: 15pt;
    padding-right: 20pt;
    padding-left: 10pt;
}

.p {
    padding-top: 15pt;
    padding-right: 10pt;
    padding-left: 10pt;
    font-size: 1rem;
    line-height: 2rem;
    color: #1697a6;
    font-weight: bold;
    text-align: center;
}

.projects {
    background-color: rgb(245, 213, 215);
}
.experience {
    background-color: #1697a6;
    list-style: none;
}

.cl {
    margin-left: 30pt;
}

.edukations {
    background-color: #C9EED3;
}



/* unvisited link */
a:link {
    color: #fd7b9c;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #0e606b;
}

/* mouse over link */
a:hover {
    color: #ffc24b;
}

/* selected link */
a:active {
    color: rgb(255, 102, 0);
}

/* Footer */
footer {
    color: #0e606b;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
